/bin/
/dist/
/build/
/vendor/
*.log
.DS_Store
*.tmp
*.swp
node_modules/
/ui/build/
/ui/node_modules/
/ui/dist/
/cmd/app/app
/cmd/app/app.exe
/cmd/fskit-test/fskit-test
/cmd/fskit-test/fskit-test.exe
config.toml
/frontend/dist/
/frontend/node_modules/
